In [ ]:
import pandas as pd

# Ler arquivo
arquivoCsv = 'baseDados.csv'
tabela = pd.read_csv(arquivoCsv, encoding='latin1')

# Preencher valores ausentes
for coluna in tabela.select_dtypes(include=['object']).columns:
    tabela[coluna].fillna(tabela[coluna].mode()[0], inplace=True)

# Tentar converter todas as colunas numéricas para tipo numérico
for coluna in tabela.select_dtypes(include=['object']).columns:
    tabela[coluna] = pd.to_numeric(tabela[coluna], errors='coerce')

# Preencher valores ausentes nas colunas numéricas com a média
tabela.fillna(tabela.mean(), inplace=True)

#criar coluna de riscos de calote
tabela['RiscoCalote'] = 0

# verificar se a taxa de utilizacao é maior que 75%
tabela.loc[tabela['Taxa de Utilização Cartão'] > 0.75, 'RiscoCalote'] += 2

# verificar se o limite disponivel é menor que 1000
tabela.loc[tabela['Limite Disponível'] < 1000, 'RiscoCalote'] += 1

# verificar se o limite consumido é maior que 
tabela.loc[tabela['Limite Consumido'] > tabela['Limite Disponível'] * 0.75, 'RiscoCalote'] += 2

# verificar se a mudança de transações é maior que a mediana das outras transações
tabela.loc[tabela["Mudança Qtde Transações_Q4_Q1"] > tabela["Mudança Qtde Transações_Q4_Q1"].median(), "RiscoCalote"] += 1

# verificar se esteve ausente por mais tempo que aa mediana das inatividades
tabela.loc[tabela['Inatividade 12m'] > tabela['Inatividade 12m'].median(), 'RiscoCalote'] += 1

# vefificar se o salario anual é menor que 40k e o limite é alto
tabela.loc[(tabela['Faixa Salarial Anual'] == 'Less than $40K') & (tabela['Limite'] > 7000), 'RiscoCalote'] += 2

# verifica se o cliente teve muitos contatos com o banco, se ele teve, pode indicar problemas financeiros ou insatisfação com o banco
tabela.loc[tabela['Contatos 12m'] > 4, 'RiscoCalote'] += 1

clientesCaloteiros = tabela[tabela['RiscoCalote'] >= 5]
clientesCaloteiros = clientesCaloteiros[['CLIENTNUM', 'RiscoCalote']]
clientesCaloteiros.head(50)

C:\Users\2016g\AppData\Local\Temp\ipykernel_12612\1879403460.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tabela[coluna].fillna(tabela[coluna].mode()[0], inplace=True)

     CLIENTNUM  RiscoCalote
3    769911858            7
18   806160108            6
31   712991808            5
36   713962233            6
47   738406533            6
51   779471883            5
52   711525033            5
56   716632758            5
93   789140283            7
94   715550508            6
95   719712633            5
130  714752208            6
146  716104983            7
165  710975883            5
167  715827858            7
177  717296808            7
182  815500983            5
215  713837058            6
220  758076408            6
230  772336458            5
234  769433508            5
236  720997383            6
240  710299608            6
246  713779908            6
263  778661358            7
267  708528483            7
269  719942883            5
287  708421833            7
288  709173108            5
296  713747733            5
301  712890408            5
313  783542133            7
317  709494483            5
324  709346133            7
325  788194458            7
327  717424458            7
336  779249583            7
337  709278258            6
338  778928283            5
339  712299858            7
346  713086008            6
350  788868858            7
351  811898133            5
354  781391058            6
361  788830683            6
366  717229158            5
373  714363858            7
384  813814008            5
388  810449883            5
394  712459233            5